body {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    margin: 0;
    background-image: url("images/il_570xN.843866561_h0n7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContent {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mainParagraph {
    text-align: justify;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5vh;
}

.listOfSkills {
    list-style-type: none;
    padding: 0;
    font-size: 2.5vh
}

.designerPicture {
    width: 85%;
    position: relative;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.pictureContainer {
    width: 100%;
    height: 35%;
    overflow-y: hidden;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    top: 2%;
    background-color: black;
}

.textContainer {
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    position: relative;
    top: 3%;
    font-family: Arial;
    background-color: black;
    color: white;
}

.portfolioLink {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

.textContainer h1 {
    font-size: 5vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

.textContainer h2 {
    font-size: 3vh;
}

.portfolioLink:hover {
    color: #6a6969;
}

